:root {
    --black: #1a1a1a;
    --font-family: 'Tinos', serif;
}

body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Tinos', serif;
}

.word {
    display: flex;
    align-items: center;
    height: 90vh;
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
    padding: 2em;
}

.message {
    margin: auto;
}

h1 {
    line-height: 1.3em;
    font-size: 4em;
    font-weight: 500;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h2 {
    line-height: 1.5em;
    font-size: 3em;
    font-weight: 300;
}

h3 {
    line-height: 1.3em;
    font-weight: 200;
}

.transcription {
    margin-bottom: 2em;
}

/*p {*/
    /*margin-top: auto;*/
    /*padding-left: 2em;*/
    /*padding-right: 2em;*/
    /*line-height: 1.3em;*/
    /*vertical-align: bottom;*/
/*}*/

/*a {*/
    /*color: white;*/
    /*text-decoration: underline;*/

/*}*/