.btn {
  display: block;
  position: relative;
  margin: 0;
  border: 0;
  font-weight: 700;
  font-size: $font-size-18;
  line-height: $font-size-18;
  text-decoration: none;
  color: $text-blue;
  background-color: $light-gold;
  border-radius: 10px;
  transition: 0.3s;

  &--rect-arrow {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 15px;
      border: 7px solid transparent;
      border-left: 10px solid $text-blue;
      transform: translateY(-50%);
    }
  }
}

@media (min-width: $tablet-width) {
  .btn {
    border-radius: 20px;
    font-size: $font-size-28;
    line-height: $font-size-28;

    &--rect-arrow {
      &::after {
        right: 30px;
      }
    }
  }
}
